{% extends "layout.html" %}


{% block content %}


<form method="POST" action="">
    <div class="login-card">
    {{ form.hidden_tag() }}
    <h1 class='display-4'> Login </h1>
    <fieldset class="form-group">
        <div class="input-group form-group">
        {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(placeholder='email',class="form-control form-control-lg") }}
        {% endif %}
        </div>
        <div class="input-group form-group">
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(placeholder='password',class="form-control form-control-lg") }}
        {% endif %}
        </div>
        <div class="form-check">
            {{ form.remember(class="form-check-label") }}
            {{ form.remember.label(class="form-check-label remember") }}
        </div>
    </fieldset>

    <div class="form-group">
    {{ form.submit(class="btn btn-block px-5 btn-outline-secondary login_btn") }}
    </div>
    </div>
</form>

<div class='login-card'> 

<h4> Try default login credentials of </h4>
<p> admin@mail.com </p>
<p> pass </p>

</div>
{% endblock content %}
