{% extends "layout.html" %}


{% block content %}

<form method="POST" action="">
    <div class="login-card">
    <h1 class='display-4'> Register </h1>
    <fieldset class="form-group">
    {{ form.hidden_tag() }}
    
    <div class="input-group form-group">
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.username(placeholder='username',class="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class="input-group form-group">
        {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(placeholder='email',class="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class="input-group form-group">
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(placeholder='password',class="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class="input-group form-group">
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(placeholder='confirm password',class="form-control form-control-lg") }}
        {% endif %}
    </div>
    
    <div class="input-group form-group">
        {% if form.phone.errors %}
            {{ form.phone(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.phone.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.phone(placeholder='phone',class="form-control form-control-lg") }}
        {% endif %}
    </div>
    
    <div class="input-group form-group">
        {% if form.address.errors %}
            {{ form.address(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.address(placeholder='address',class="form-control form-control-lg") }}
        {% endif %}
    </div>
    
    <div class="input-group form-group">
        {% if form.address2.errors %}
            {{ form.address2(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.address2.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.address2(placeholder='address2',class="form-control form-control-lg") }}
        {% endif %}
    </div>

    </fieldset>
    <div class="form-group">
    {{ form.submit(class="btn btn-block px-5 btn-outline-secondary register_btn") }}
    </div>
    
    </div>
</form>

{% endblock content %}
