{% extends "layout.html" %}

{% block content %}
<!-- style tags -->
<style>

.task{width:900px;
      overflow:hidden;
      margin:5px auto;
      display:grid;
      place-items:center;}

</style>
<!-- end style -->

<div class="task">
    <div class="col-md-12 p-3 m-5">
    <h1 class='display-4'> Create and assign a Task</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
        
            <div class="form-group">
            <h5>{{ form.task_name.label(class="form-control-label") }}</h5>
                {% if form.task_name.errors %}
                    {{ form.task_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.task_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.task_name(placeholder='task_name',class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
            <h5>{{ form.task_detail.label(class="form-control-label") }}</h5>
                {% if form.task_detail.errors %}
                    {{ form.task_detail(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.task_detail.errors %}
                            <span>{{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.task_detail(placeholder='task_detail',class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
            <h5>{{ form.task_date.label(class="form-control-label") }}</h5>
                {% if form.task_date.errors %}
                    {{ form.task_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.task_date.errors %}
                            <span>{{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.task_date(placeholder='task_date',class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
            <h5>{{ form.assigned_to.label(class="form-control-label") }}</h5>
                {% if form.assigned_to.errors %}
                    {{ form.assigned_to(id='assign', class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.assigned_to.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.assigned_to(id='assign', class="form-control form-control-lg") }}
                {% endif %}
            </div>
        
        </fieldset>
        
        <div class="form-group">
            {{ form.submit(class="btn btn-block px-5 btn-info") }}
        </div>
    
    </form>
    </div>
</div>

<script>
var user_select = document.getElementById("assign");
function getUsers() {
    const url = '/user_list'
    fetch(url)
    .then(response => response.json())  
    .then(json => {
        var optionHTML = '';
        for (var user of json.users) {
            optionHTML += '<option value="' + user.username + '">' + user.username + '</option>';
            }
        
        user_select.innerHTML = optionHTML;
    })
}

getUsers();
</script>

{% endblock %}
