{% extends "layout.html" %}


{% block content %}


<table class="table table-striped w-auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> #           </th>
            <th scope="col"> Task        </th>
            <th scope="col"> Description </th>
            <th scope="col"> Assigned by </th>
            <th scope="col"> Assigned to </th>
            <th scope="col"> Deadline    </th>
            <th scope="col"> Status      </th>
        </tr>
        </thead>
{% if current_user.is_authenticated %}
    {% for task in tasks %}
        
        <tr>
        <td id='task_id'>   {{task.task_id}}       </td>
        <td id='task_text'> {{task.task_name}}     </td>
        <td id='task_desc'> {{task.task_detail}}   </td>
        <td id='task_boss'> {{task.assigner_mail}} </td>
        <td id='task_wrkr'> {{task.assignee.email}}</td>
        <td id='task_date'> {{task.task_date}}     </td>
        <td id='status'>    {{task.status}}        </td>
        </tr>
    {% endfor %}
{% endif %}
</table>

<a href="{{url_for('index')}}" class="btn btn-lg btn-dark">Go back to Home</a>

{% endblock content %}
